services:
  db:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456789
      POSTGRES_DB: ubqtdatabase
    ports:
    - "5432:5432"
    volumes: 
      - db:/var/lib/postgresql
volumes:
  db:
